#employment .modal output {
    display: block;
}

#employment .modal-content .col-md-5 {
	margin-top: 3em;
	margin-bottom: 4em;
}

#employment .modal button {
	background-color: #00a1e0;
	color: #fff;
	border: none;
	font-size: 14px;
	line-height: 45px;
	font-weight: 700;
    letter-spacing: 0.08em;
    padding: 0 150px;
    text-transform: uppercase;
}

#employment .modal button:hover {
	background-color: #0083c2;
}
